@use 'variables' as v;
@use 'mixins' as m;

// @import url('https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@mixin header-1 {
  font-family: v.$font-family;
  font-size: m.rem(32);
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}

@mixin header-2 {
  font-family: v.$font-family;
  font-size: m.rem(24);
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}

@mixin header-3 {
  font-family: v.$font-family;
  font-size: m.rem(16);
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

@mixin header-4 {
  font-family: v.$font-family;
  font-size: m.rem(12);
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

@mixin pg {
  font-family: v.$font-family;
  font-size: m.rem(16);
  font-weight: 400;
  line-height: 148%;
}

@mixin action-large {
  font-family: v.$font-family;
  font-size: m.rem(24);
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}

@mixin action-small {
  font-family: v.$font-family;
  font-size: m.rem(12);
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

@mixin caption {
  font-family: v.$second-family;
  font-size: m.rem(24);
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
}

@mixin slider-text {
  font-family: v.$font-family;
  font-size: m.rem(80);
  font-weight: 600;
  text-transform: uppercase;
}

body {
  font-family: v.$font-family;
  font-weight: 400;
  font-style: normal;
  color: v.$dark;
}
