@use 'mixins' as mixins;

//====================================================================
// Шрифт по умолчанию
$fontFamily: '';
$fontSecondary: '';
$fontSize: mixins.rem(14); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$colorMain: #000; // Цвет шрифта по умолчанию
$colorBgBody: #fff;

//====================================================================
// НАСТРОЙКИ

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1440;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1276;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: $maxWidth - $maxWidthContainer;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Размеры устройств
$desktopWidth: 1439.98;
$tabletWidth: 767.98;
$mobileWidth: 379.98;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em($tabletWidth); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em($mobileWidth); // Телефоны L

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;
