// Заголовки, общие БЄМ блоки и проче...

@use 'base/variables' as *;
@use 'base/mixins' as *;
@use 'base/fonts' as *;

[data-tag-color='purple'] {
  color: $tag-purple;
}
[data-tag-color='green'] {
  color: $tag-green;
}
[data-tag-color='pink'] {
  color: $tag-pink;
}

//====================================================================

.button-primary {
  width: max-content;
  padding: rem(20) rem(32);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: rem(20);
  color: $static-white;
  background-color: $dark;
  @include action-small;
  transition:
    color 0.5s ease 0s,
    background-color 0.5s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      color: $dark;
      background-color: $static-white;
    }
  }
}

//====================================================================

.card {
  width: rem(310);
  height: rem(342);
  border-radius: rem(20);
  overflow: hidden;
  background-color: $content-background;

  // .card__link
  &__link {
    display: flex;
    flex-direction: column;
    width: rem(310);
    height: rem(342);
  }
  // .card__image-ibg
  &__image-ibg {
    width: rem(310);
    height: rem(230);
  }
  // .card__content
  &__content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: rem(8);
    padding: rem(20);
    color: $dark;
    background-color: $static-white;
    border-radius: rem(20);
  }
  // .card__category
  &__category {
    @include header-4;
  }
  // .card__title
  &__title {
    display: inline-block;
    width: rem(270);
    max-height: rem(48);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    @include header-3;
    transition: color 0.5s ease 0s;

    @media (any-hover: hover) {
      .card:hover & {
        color: $primary;
      }
    }
  }
}

//====================================================================

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 rem(8);
  background-color: $overlay;
  z-index: 10;

  &.hidden {
    display: none;
  }

  // .modal__wrapper
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: rem(400);
    width: 100%;
    min-height: rem(514);
    border-radius: rem(20);
    overflow: hidden;
    background-color: $content-background;
  }
  // .modal__image-ibg
  &__image-ibg {
    width: 100%;
    height: rem(230);
  }
  // .modal__content
  &__content {
    flex: 1 1 auto;
    padding: rem(20);
    color: $dark;
    background-color: $static-white;
    border-radius: rem(20);
  }
  // .modal__category
  &__category {
    margin-bottom: rem(8);
    @include header-4;
  }
  // .modal__title
  &__title {
    margin-bottom: rem(8);
    @include header-3;
  }
  // .modal__description
  &__description {
    margin-bottom: rem(20);
    @include pg;
  }
  // .modal__table
  &__table {
  }
  // .modal__btn
  &__btn {
    position: absolute;
    top: rem(12);
    right: rem(12);
    width: rem(40);
    height: rem(40);
  }
}
.table {
  width: 100%;
  @include pg;

  // .table__title
  &__title {
    margin-bottom: rem(8);
    text-align: left;
    @include header-4;
  }
  // .table__row
  &__row {
    display: flex;
    justify-content: space-between;
    column-gap: rem(12);
  }
  // .table__superpower
  &__superpower {
  }
}
.superpower {
  display: flex;
  justify-content: space-between;
  gap: rem(12);

  // .superpower__title
  &__title {
  }
  // .superpower__value
  &__value {
    display: flex;
    column-gap: rem(12);

    & span:before {
      content: '+';
    }

    & fieldset {
      display: flex;
      align-items: center;
      column-gap: rem(8);
      color: $primary-10;
      cursor: pointer;
    }
    & label {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    & input {
      display: none;
    }
  }
}

@each $value in 100, 200, 300, 400, 500 {
  [data-superpower-value='#{$value}'] ~ fieldset label:nth-child(1) {
    color: $primary;
  }
}

@each $value in 200, 300, 400, 500 {
  [data-superpower-value='#{$value}'] ~ fieldset label:nth-child(2) {
    color: $primary;
  }
}

@each $value in 300, 400, 500 {
  [data-superpower-value='#{$value}'] ~ fieldset label:nth-child(3) {
    color: $primary;
  }
}

@each $value in 400, 500 {
  [data-superpower-value='#{$value}'] ~ fieldset label:nth-child(4) {
    color: $primary;
  }
}

[data-superpower-value='500'] ~ fieldset label:nth-child(5) {
  color: $primary;
}
