@use 'base/variables' as *;
@use 'base/mixins' as *;
@use 'base/fonts' as *;

.footer {
  padding-top: rem(60);
  padding-bottom: rem(60);

  // .footer__container
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: rem(60);
    background-color: $static-white;
  }
  // .footer__row
  &__row {
    gap: rem(12);

    // .footer__row_top
    &_top {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    // .footer__row_bottom
    &_bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: rem(12);
    }
  }
  // .footer__card
  &__card {
  }
  // .footer__socials
  &__socials {
    display: flex;
    align-items: center;
    gap: rem(12);
  }
  // .footer__social-link
  &__social-link {
    transition: color 0.5s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: $primary;
      }
    }
  }
  // .footer__copyright
  &__copyright {
    @include pg;
  }
  // .footer__school-link
  &__school-link {
    @include caption;
    transition: color 0.5s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: $primary;
      }
    }
  }
}
.footer-card {
  border-radius: rem(20);
  overflow: hidden;
  background-color: $content-background;

  // .footer-card__link
  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(12);
    padding: rem(20);
  }
  // // .footer-card__image-ibg
  // &__image-ibg {
  //   width: rem(80);
  //   height: rem(80);
  // }
  // .footer-card__title
  &__title {
    @include action-large;
    transition: color 0.5s ease 0s;

    @media (any-hover: hover) {
      .footer-card:hover & {
        color: $primary;
      }
    }
  }
  // .footer-card__subtitle
  &__subtitle {
    @include header-3;
    transition: color 0.5s ease 0s;

    @media (any-hover: hover) {
      .footer-card:hover & {
        color: $primary;
      }
    }
  }
}
