@use 'sass:math';
@use 'base/variables' as *;
@use 'base/mixins' as *;
@use 'base/fonts' as *;

.gifts {
  // .gifts__container
  &__container {
    padding-top: rem(60);
    padding-bottom: rem(60);
    border-radius: rem(20);
    color: $static-white;
    background:
      url('@img/bg-garland.png') top center/100% no-repeat,
      $primary;
  }
  // .gifts__title
  &__title {
    max-width: rem(426);
    margin: 0 auto rem(20);
    text-align: center;
    @include header-1;
  }
  // .gifts__tabs
  &__tabs {
  }
}
.gifts-tabs {
  // .gifts-tabs__header
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: rem(20);
    @include action-small;

    @include adaptiveValue('column-gap', 8, 1, 768, 380, 1);
  }
  // .gifts-tabs__header-item
  &__header-item {
    & > input {
      display: none;
    }

    & > span {
      display: inline-block;
      width: max-content;
      padding: rem(12) rem(20);
      border-radius: 12px;
      cursor: pointer;
      transition: background-color 0.3s ease 0s;

      @include adaptiveValue('padding-left', 20, 8, 768, 380, 1);
      @include adaptiveValue('padding-right', 20, 8, 768, 380, 1);
    }

    & > input:checked ~ span {
      background-color: $static-white-20;
      cursor: default;
      user-select: none;
      pointer-events: none;
    }

    @media (any-hover: hover) {
      &:hover > span {
        background-color: $static-white-20;
      }
    }
  }
  // .gifts-tabs__content
  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, rem(310));
    grid-auto-rows: 1fr;
    justify-content: center;
    gap: rem(12);
  }
  // .gifts-tabs__content-item
  &__content-item {
  }
}
