@use 'base/variables' as *;
@use 'base/mixins' as *;
@use 'base/fonts' as *;

//Burger

.icon-menu {
  display: none;
  @media (max-width: em(768)) {
    display: block;
    position: relative;
    width: rem(40);
    height: rem(40);
    cursor: pointer;
    z-index: 110;

    &::before,
    &::after {
      content: '';
      transition: all 0.3s ease 0s;
      right: 50%;
      position: absolute;
      width: rem(20);
      height: rem(1);
      background-color: $dark;
      transform: translateX(50%);
      border-radius: rem(0.5);
    }
    &::before {
      top: calc(50% - rem(5));
    }
    &::after {
      bottom: calc(50% - rem(5));
    }

    .menu-open & {
      &::before,
      &::after {
      }
      &::before {
        top: calc(50%);
        transform: translateX(50%) rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - rem(1));
        transform: translateX(50%) rotate(45deg);
      }
    }
  }
}

//====================================================================
.header {
  // .header__container
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: rem(12);
    padding-bottom: rem(12);
  }
  // .header__logo
  &__logo {
    flex: 0 0 rem(141);
    display: flex;
    align-items: center;
    column-gap: rem(8);
    height: rem(40);
    padding: rem(8) rem(20);
    cursor: pointer;
    @include action-small;
    z-index: 110;

    & img {
      width: rem(24);
      height: rem(24);
    }
    & span {
      flex-shrink: 0;
    }
  }
  // .header__menu
  &__menu {
  }
}
.menu {
  display: flex;

  // .menu__body
  &__body {
    flex: 1 1 auto;
    display: flex;

    @media (max-width: em(768)) {
      position: fixed;
      top: 0;
      right: -100%;
      width: 100vw;
      height: 100vh;
      display: block;
      background-color: $colorBgBody;
      z-index: 100;
      opacity: 0;
      transition:
        right 1s ease 0s,
        opacity 1s ease 0s;

      .menu-open & {
        right: 0;
        opacity: 1;
      }
    }
  }
  // .menu__list
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(8);
    @include action-small;

    @media (max-width: em(768)) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding-top: rem(64);
      @include action-large;
    }
  }
  // .menu__item
  &__item {
  }
  // .menu__link
  &__link {
    display: inline-block;
    padding: rem(12) rem(20);
    border-radius: rem(12);
    color: $dark;
    transition:
      color 0.5s ease 0s,
      background-color 0.5s ease 0s;

    .html-gifts &_gifts {
      color: $primary;
      background-color: $primary-10;
      cursor: default;
      user-select: none;
      pointer-events: none;
    }

    @media (any-hover: hover) {
      &:hover {
        color: $primary;
        background-color: $primary-10;
      }
    }
  }
}
