@use 'sass:math';
@use 'base/variables' as *;
@use 'base/mixins' as *;
@use 'base/fonts' as *;

.hero {
  // .hero__container
  &__container {
    padding-top: rem(120);
    padding-bottom: rem(120);
    border-radius: rem(20) rem(20) 0 0;
    background:
      url('@img/bg-ball.png') center/cover no-repeat,
      url('@img/bg-snow.png') center/cover no-repeat,
      $primary;
  }
  // .hero__content
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(12);
    max-width: rem(430);
    margin: 0 auto;
    color: $static-white;
  }
  // .hero__caption
  &__caption {
    @include caption;
  }
  // .hero__title
  &__title {
    text-align: center;
    @include header-1;
  }
  // .hero__button
  &__button {
    @include action-small;
  }
}

//====================================================================

.about {
  // .about__container
  &__container {
    padding-top: rem(60);
    padding-bottom: rem(60);
    background:
      url('@img/bg-snow.png') center/cover no-repeat,
      $primary;
  }
  // .about__wrapper
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: $static-white;
    border-radius: rem(20);
    overflow: hidden;

    @media (max-width: em($tabletWidth)) {
      grid-template-columns: 1fr;
    }
  }
  // .about__content
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: rem(20);
    max-width: rem(426);
    margin: 0 rem(60);
    color: $dark;

    @media (max-width: em($tabletWidth)) {
      max-width: none;
      margin: rem(60) rem(20);
    }
  }
  // .about__caption
  &__caption {
    color: $primary;
    @include caption;
  }
  // .about__title
  &__title {
    @include header-2;
  }
  // .about__text
  &__text {
    @include pg;
  }
  // .about__image-ibg
  &__image-ibg {
    width: 100%;
    height: rem(528);
    border-radius: rem(20);
    overflow: hidden;
  }
}

//====================================================================

.slider {
  // .slider__container
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: rem(60);
    padding-bottom: rem(60);
    color: $static-white;
    background:
      url('@img/bg-snow.png') center/cover no-repeat,
      $primary;
  }
  // .slider__caption
  &__caption {
    margin-bottom: rem(12);
    @include caption;
  }
  // .slider__title
  &__title {
    margin-bottom: rem(20);
    @include header-2;
  }
  // .slider__slider
  &__slider {
  }
}
.slider-slider {
  position: relative;
  padding-bottom: rem(76);

  // .slider-slider__wrapper
  &__wrapper {
    position: relative;
    width: 100vw;
    height: rem(200);
    overflow: hidden;
  }
  // .slider-slider__swiper
  &__swiper {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: rem(20);

    @include adaptiveValue('left', math.div($containerPadding, 2), 8, $containerWidth, 768, 1);
  }
  // .slider-slider__slide
  &__slide {
    @include slider-text;
  }
  // .slider-slider__image-ibg
  &__image-ibg {
    width: rem(200);
    height: rem(200);
    border-radius: rem(20);
    overflow: hidden;
  }
  // .slider-slider__nav-buttons
  &__nav-buttons {
    position: absolute;
    bottom: 0;
    display: flex;
    gap: rem(20);

    @include adaptiveValue('right', math.div($containerPadding, 2), 8, $containerWidth, 768, 1);
  }
  // .slider-slider__nav-button
  &__nav-button {
    border: rem(1) solid $static-white;
    border-radius: rem(20);
    width: rem(56);
    height: rem(56);
    transition:
      color 0.5s ease 0s,
      background-color 0.5s ease 0s;

    // .slider-slider__nav-button_prev
    &_prev {
      transform: rotate(-180deg);
    }
    // .slider-slider__nav-button_next
    &_next {
    }

    &:disabled {
      color: $static-white-40;
      border: rem(1) solid $static-white-40;
      cursor: default;
      user-select: none;
      pointer-events: none;
    }

    @media (any-hover: hover) {
      &:hover:not(.pets-pagination__button_page),
      &:hover:not(:disabled) {
        color: $primary;
        background-color: $static-white;
      }
    }
  }
}

//====================================================================

.best {
  // .best__container
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: rem(60);
    padding-bottom: rem(60);
    color: $static-white;
    background:
      url('@img/bg-snow.png') center/cover no-repeat,
      $primary;
  }
  // .best__caption
  &__caption {
    margin-bottom: rem(12);
    @include caption;
  }
  // .best__title
  &__title {
    margin-bottom: rem(20);
    @include header-2;
  }
  // .best__list
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(12);
  }
  // .best__item
  &__item {
  }
}

//====================================================================

.cta {
  // .cta__container
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(20);
    padding-top: rem(180);
    padding-bottom: rem(180);
    color: $static-white;
    border-radius: 0 0 rem(20) rem(20);
    background:
      url('@img/bg-forest.png') center/cover no-repeat,
      url('@img/bg-snow.png') center/cover no-repeat,
      $primary;
  }
  // .cta__title
  &__title {
    max-width: rem(426);
    text-align: center;
    @include header-2;
  }
  // .cta__button
  &__button {
  }
  // .cta__table
  &__table {
    display: flex;
    flex-direction: column;
    border: 0;
    border-collapse: collapse;

    & caption {
      @include caption;
      margin-bottom: rem(8);
    }
    & thead {
      order: 2;
      padding: 0 rem(12) rem(12);
      border-radius: 0 0 rem(20) rem(20);
      overflow: hidden;
      background-color: $static-white-40;
    }
    & tr {
    }
    & th {
      width: rem(80);
      text-align: center;
      @include header-4;
    }
    tbody {
      padding: rem(8) rem(12) 0;
      border-radius: rem(20) rem(20) 0 0;
      overflow: hidden;
      background-color: $static-white-40;
    }
    & td {
      position: relative;
      width: rem(80);
      text-align: center;
      @include header-2;

      &:not(:last-child):after {
        position: absolute;
        content: '';
        width: rem(2);
        height: rem(20);
        bottom: 0;
        right: 0;
        background-color: $static-white-40;
      }
    }
  }
}
